body {

background-color: #faf0e6;
}

h3 {
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
text-align: center;
}
ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333333;
}


